<div class="wrap">
	<ul class="breadcrumb breadcrumb__t">
		<li><a class="home" href="#">{{ 'Home.Title' | translate }}</a> / {{ 'Legal.About.Title' | translate }}</li>
	</ul>

	<div class="container target">
		<div class="caption">
			<div>
				<h2 class="heading">{{'Legal.About.Title' | translate}}</h2>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.About.Context.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.About.Context.Description1' | translate}} Daniel de los Reyes {{'Legal.About.Context.Description2' | translate}} Alejandro Sánchez {{'Legal.About.Context.Description3' | translate}}<i>{{'Legal.About.Context.Description4' | translate}}</i>{{'Legal.About.Context.Description5' | translate}}<i>{{'Legal.About.Context.Description6' | translate}}</i>{{'Legal.About.Context.Description7' | translate}}
					</p>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.About.Members.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-12">
									<img class="img-responsive thumbnail" alt="Daniel de los Reyes" src="img/daniel.png"/>
								</div>
								<div class="col-md-12">
									{{'Legal.About.Members.Daniel' | translate}}
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-12">
									<img class="img-responsive thumbnail" alt="Alejandro Sánchez" src="img/alejandro.png"/>
								</div>
								<div class="col-md-12">
									{{'Legal.About.Members.Alejandro' | translate}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.About.Goals.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.About.Goals.Goal1' | translate}}
					</p>
					<p>
						{{'Legal.About.Goals.Goal2' | translate}}
					</p>
					<ul class="list-group">
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">{{'Legal.About.Goals.Goal3.Title' | translate}}</h4>
      						<p class="list-group-item-text">{{'Legal.About.Goals.Goal3.Description' | translate}}</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">{{'Legal.About.Goals.Goal4.Title' | translate}}</h4>
      						<p class="list-group-item-text">{{'Legal.About.Goals.Goal4.Description' | translate}}</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">{{'Legal.About.Goals.Goal5.Title' | translate}}</h4>
      						<p class="list-group-item-text">{{'Legal.About.Goals.Goal5.Description' | translate}}</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">{{'Legal.About.Goals.Goal6.Title' | translate}}</h4>
      						<p class="list-group-item-text">{{'Legal.About.Goals.Goal6.Description' | translate}}</p>
						</a>
					</ul>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.About.Contact' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						<a href="mailto:contact@acmesupermarket.com?Subject=Contact">contact@acmesupermarket.com</a>
					</p>
				</div>
			</div>
		</div>
	</div>


</div>