<div class="wrap">
	<ul class="breadcrumb breadcrumb__t">
		<li><a class="home" href="#">{{ 'Home.Title' | translate }}</a> / {{ 'Legal.Contact.Title' | translate }}</li>
	</ul>

	<div class="container col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="heading2">{{'Legal.Contact.Title' | translate}}</h4>
			</div>
			<div class="panel-body">
				<p>
					<a href="mailto:contact@acmesupermarket.com?Subject=Contact">contact@acmesupermarket.com</a>
				</p>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>