<div class="wrap">
	<ul class="breadcrumb breadcrumb__t">
		<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / {{ 'Legal.Cookies.Title' | translate }}</li>
	</ul>

	<div class="container target">
		<div class="caption">
			<div>
				<h2 class="heading">
					{{'Legal.Cookies.Title' | translate}}
				</h2>
				<p>{{'Legal.Cookies.Description' | translate}}</p>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="heading2" style="color:#31708f">
					{{'Legal.Cookies.Cookie1.Name' | translate}}
				</h3>
			</div>
			<div class="panel-body">
				<p>
					{{'Legal.Cookies.Cookie1.Description' | translate}}
				</p>
			</div>
		</div>
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="heading2" style="color:#31708f">
					{{'Legal.Cookies.Cookie2.Name' | translate}}
				</h3>
			</div>
			<div class="panel-body">
				<p>
					{{'Legal.Cookies.Cookie2.Description' | translate}}
				</p>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="heading2" style="color:#31708f">
					{{'Legal.Cookies.Cookie3.Name' | translate}}
				</h3>
			</div>
			<div class="panel-body">
				<p>
					{{'Legal.Cookies.Cookie3.Description' | translate}}
				</p>
			</div>
		</div>
	</div>
</div>
