<div class="wrap">
	<ul class="breadcrumb breadcrumb__t">
		<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / {{ 'Legal.Delivery.Title' | translate }}</li>
	</ul>

	<div class="container target legal">
		<div class="caption">
			<h2 class="head">{{ 'Legal.Delivery.Title' | translate }}</h2>
			<h5 id="costs" class="m_6">{{'Legal.Delivery.Section1.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Delivery.Section1.Body' | translate}}</p>

			<h5 id="times" class="m_6">{{'Legal.Delivery.Section2.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Delivery.Section2.Body' | translate}}</p>

			<ul class="delivery-list">
				<li><a href="">5 {{'Checkout.Days.Days' | translate}}.</a></li>
				<li><a href="">15 {{'Checkout.Days.Days' | translate}}.</a></li>
				<li><a href="">30 {{'Checkout.Days.Days' | translate}}.</a></li>
		    </ul>

			<h5 id="locations" class="m_6">{{'Legal.Delivery.Section3.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Delivery.Section3.Body' | translate}}</p>

			<h5 id="responsabilities" class="m_6">{{'Legal.Delivery.Section4.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Delivery.Section4.Body' | translate}}</p>

			<h5 id="insurance" class="m_6">{{'Legal.Delivery.Section5.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Delivery.Section5.Body' | translate}}</p>
		</div>
	</div>

</div>