<script src="views/public/home/HomeController.js"></script>

<!-- Carousel
	================================================== -->
<div class="overlay"><h1>Texto opcional</h1></div>
<div id="home-carousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#home-carousel" data-slide-to="1"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="img/template_bootstrap/banner.jpg" class="img-responsive">
			<div class="container">
				<div class="carousel-caption">
				</div>
			</div>
		</div>
		<div class="item">
			<img src="img/template_bootstrap/banner1.jpg" class="img-responsive">
			<div class="container">
				<div class="carousel-caption">

				</div>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#home-carousel" data-slide="prev">
		<i class="glyphicon glyphicon-chevron-left"></i>
	</a>
	<a class="right carousel-control" href="#home-carousel" data-slide="next">
		<i class="glyphicon glyphicon-chevron-right"></i>
	</a>  
</div>
<!-- /.carousel -->

<div class="main">
	<div class="wrap">
		<div class="section group">
			<div class="cont span_2_of_3">
				<h2 class="head">{{ 'Home.Title' | translate }}</h2>
				<div class="top-box">
					<div ng-repeat="product in products | limitTo:9">

						<div class="col_1_of_3 span_1_of_3">
							<a class="product" href="product/{{product._id}}">
								<div class="inner_content clearfix">
									<div class="product_image">
										<img src="{{product.image}}" alt=""/>
									</div>
									<div class="sale-box">
										<span class="on_sale title_shop">{{ 'Home.New' | translate }}</span>
									</div>
									<div class="product-block">
										<div class="cart-left">
											<p class="title">{{product.name}}</p>
											<div class="price1">
												<span class="actual">{{product.minPrice}} - {{product.maxPrice}} €</span>
											</div>
										</div>
										<div class="cart-right"></div>
										<div class="clear"></div>
									</div>
								</div>
							</a>
						</div>
						
					</div>
					<div class="clear"></div>
				</div>
				<h2 class="head">{{ 'Home.NewProducts' | translate }}</h2>
				<div class="section group">
					<div class="col_1_of_3 span_1_of_3">
						<a class="product" href="single.html">
							<div class="inner_content clearfix">
								<div class="product_image">
									<img src="img/template_bootstrap/pic5.jpg" alt=""/>
								</div>
								<div class="sale-box">
									<span class="on_sale title_shop">{{ 'Home.New' | translate }}</span>
								</div>
								<div class="product-block">
									<div class="cart-left">
										<p class="title">Lorem Ipsum simply</p>
										<div class="price1">
											<span class="actual">$12.00</span>
										</div>
									</div>
									<div class="cart-right"></div>
									<div class="clear"></div>
								</div>
							</div>
						</a>
					</div>
					
					<div class="clear"></div>
				</div>
			</div>
			<div class="rsidebar span_1_of_left">
				<div class="top-border"></div>
				<div class="border">
					<link href="css/template_bootstrap/default.css" rel="stylesheet" type="text/css" media="all" />
					<link href="css/template_bootstrap/nivo-slider.css" rel="stylesheet" type="text/css" media="all" />
					<script src="js/lib/template_bootstrap/jquery.nivo.slider.js"></script>
					<div class="slider-wrapper theme-default">
						<div id="slider" class="nivoSlider">
							<img src="img/template_bootstrap/t-img1.jpg"  alt="" />
							<img src="img/template_bootstrap/t-img2.jpg"  alt="" />
							<img src="img/template_bootstrap/t-img3.jpg"  alt="" />
						</div>
					</div>
					<script type="text/javascript">
						$(document).ready(function(){
							$('#slider').nivoSlider();
						});						
					</script>
					<div class="btn">
						<a href="single.html">{{ 'Home.CheckItOut' | translate }}</a>
					</div>
				</div>
				<div class="top-border"></div>
				<div class="sidebar-bottom">
					<h2 class="m_1" ng-bind-html="'Home.NewslettersSignup' | translate | htmlSafe"></h2>
					<p class="m_text">Lorem ipsum dolor sit amet, consectetuer</p>
					<div class="subscribe">
						<form>
							<input name="userName" type="text" class="textbox">
							<input type="submit" value="{{'Home.Subscribe' | translate }}">
						</form>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>