<script src="views/public/home/HomeController.js"></script>

<!-- Carousel
	================================================== -->
<div class="overlay"><h1>Acme-Supermarket</h1></div>
<div id="banner" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#banner" data-slide-to="0" class="active"></li>
		<li data-target="#banner" data-slide-to="1"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="img/template_bootstrap/banner.jpg" class="img-responsive">
			<div class="container">
				<div class="carousel-caption">
					<a href="/products">{{ 'Home.CheckItOut' | translate }}</a>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="img/template_bootstrap/banner1.jpg" class="img-responsive">
			<div class="container">
				<div class="carousel-caption">
					<a href="/products">{{ 'Home.CheckItOut' | translate }}</a>
				</div>
			</div>
		</div>
		<script>
			$('.carousel-control').click(function (e) {
  				e.preventDefault();
			});
		</script>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#banner" data-slide="prev">
		<i class="glyphicon glyphicon-chevron-left"></i>
	</a>
	<a class="right carousel-control" href="#banner" data-slide="next">
		<i class="glyphicon glyphicon-chevron-right"></i>
	</a>  
</div>
<!-- /.carousel -->

<div class="main">
	<div class="wrap">
		<div class="section group">
			<div class="cont span_2_of_3 col-md-9">
				<h2 class="head">{{ 'Home.Title' | translate }}</h2>
				<div class="top-box">
					<div id="{{product._id}}" ng-repeat="product in products | limitTo:9">

						<div class="col_1_of_3 span_1_of_3">
							<a class="product" href="product/{{product._id}}">
								<div class="inner_content clearfix">
									<div class="product_image">
										<img src="img/{{product.image}}" alt=""/>
									</div>
									<div class="sale-box">
										<span class="on_sale title_shop">{{ 'Home.New' | translate }}</span>
									</div>
									<div class="product-block">
										<div class="cart-left">
											<p class="title">{{product.name}}</p>
											<div class="price1">
												<span class="actual" ng-if="product.minPrice">{{product.minPrice}} - {{product.maxPrice}} €</span>
												<span class="red-text" ng-if="!product.minPrice">{{'Products.NotAvailable' | translate}}</span>
											</div>
										</div>
										<div class="cart-right" restrict access="customer"></div>
										<div class="clear"></div>
									</div>
								</div>
							</a>
						</div>
						
					</div>
					<div class="clear"></div>
				</div>
				<div>
					<h2 class="head">{{ 'Home.RecommendedProducts' | translate }}</h2>
					<div class="section group">
						<div ng-repeat="product in recommendedProducts | limitTo:3">
							<div class="col_1_of_3 span_1_of_3">
								<a class="product" href="product/{{product._id}}">
									<div class="inner_content clearfix">
										<div class="product_image">
											<img src="img/{{product.image}}" alt=""/>
										</div>
										<div class="sale-box">
											<span class="on_sale title_shop">{{ 'Home.Recommended' | translate }}</span>
										</div>
										<div class="product-block">
											<div class="cart-left">
												<p class="title">{{product.name}}</p>
												<div class="price1">
													<span class="actual" ng-if="product.minPrice">{{product.minPrice}} - {{product.maxPrice}} €</span>
													<span class="red-text" ng-if="!product.minPrice">{{'Products.NotAvailable' | translate}}</span>
												</div>
											</div>
											<div class="cart-right" restrict access="customer"></div>
											<div class="clear"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="rsidebar span_1_of_left">
				<div class="top-border"></div>
				<div class="border">
					<link href="css/template_bootstrap/default.css" rel="stylesheet" type="text/css" media="all" />
					<link href="css/template_bootstrap/nivo-slider.css" rel="stylesheet" type="text/css" media="all" />
					<script src="js/lib/template_bootstrap/jquery.nivo.slider.js"></script>
					<div class="slider-wrapper theme-default">
						<div id="slider" class="nivoSlider">
							<img src="img/template_bootstrap/t-img1.jpg"  alt="" />
							<img src="img/template_bootstrap/t-img2.jpg"  alt="" />
							<img src="img/template_bootstrap/t-img3.jpg"  alt="" />
						</div>
					</div>
					<script type="text/javascript">
						$(document).ready(function(){
							$('#slider').nivoSlider();
						});						
					</script>
					<div class="btn">
						<a href="/products" style="margin-left: 100%">{{ 'Home.CheckItOut' | translate }}</a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>