<div class="wrap">
	<ul class="breadcrumb breadcrumb__t">
		<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / {{ 'Legal.Cookies.Title' | translate }}</li>
	</ul>

	<div class="container target legal">
		<div class="caption">
			<div>
				<h2 class="heading">
					{{'Legal.Terms.Title' | translate}}
				</h2>
			</div>
			
			<h5 class="m_6">{{'Legal.Terms.Section1.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Terms.Section1.Body1' | translate}}</p>
			<p class="m_text">{{'Legal.Terms.Section1.Body2' | translate}}</p>
			<p class="m_text">{{'Legal.Terms.Section1.Body3' | translate}}</p>

			<h5 class="m_6">{{'Legal.Terms.Section2.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Terms.Section2.Body' | translate}}</p>

			<h5 class="m_6">{{'Legal.Terms.Section3.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Terms.Section3.Body1' | translate}}</p>
			<p class="m_text">{{'Legal.Terms.Section3.Body2' | translate}}</p>
			<p class="m_text">{{'Legal.Terms.Section3.Body3' | translate}}</p>

			<h5 class="m_6">{{'Legal.Terms.Section4.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Terms.Section4.Body1' | translate}}</p>
			<p class="m_text">{{'Legal.Terms.Section4.Body2' | translate}}</p>

			<h5 class="m_6">{{'Legal.Terms.Section5.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Terms.Section5.Body1' | translate}}</p>
			<p class="m_text">{{'Legal.Terms.Section5.Body2' | translate}}</p>
			<p class="m_text">{{'Legal.Terms.Section5.Body3' | translate}}</p>

			<h5 class="m_6">{{'Legal.Terms.Section6.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Terms.Section6.Body1' | translate}}</p>

			<h5 class="m_6">{{'Legal.Terms.Section7.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Terms.Section7.Body' | translate}}</p>

			<h5 class="m_6">{{'Legal.Terms.Section8.Title' | translate}}</h5>
			<p class="m_text">{{'Legal.Terms.Section8.Body' | translate}}</p>
			
		</div>
	</div>
</div>