<div class="wrap">
	<ul class="breadcrumb breadcrumb__t">
		<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / {{ 'Legal.Cookies.Title' | translate }}</li>
	</ul>

	<div class="container target legal">
		<div class="caption">
			<div>
				<h2 class="heading">
					{{'Legal.Terms.Title' | translate}}
				</h2>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.Terms.Section1.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body" >
					<p>
						{{'Legal.Terms.Section1.Body1' | translate}}
					</p>
					<p>
						{{'Legal.Terms.Section1.Body2' | translate}}
					</p>
					<p>
						{{'Legal.Terms.Section1.Body3' | translate}}
					</p>
				</div>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.Terms.Section2.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section2.Body' | translate}}
					</p>
				</div>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.Terms.Section3.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section3.Body1' | translate}}
					</p>
					<p>
						{{'Legal.Terms.Section3.Body2' | translate}}
					</p>
					<p>
						{{'Legal.Terms.Section3.Body3' | translate}}
					</p>
					
				</div>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.Terms.Section4.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section4.Body1' | translate}}
					</p>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section4.Body2' | translate}}
					</p>
				</div>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.Terms.Section5.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section5.Body1' | translate}}
					</p>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section5.Body2' | translate}}
					</p>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section5.Body3' | translate}}
					</p>
				</div>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.Terms.Section6.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section6.Body1' | translate}}
					</p>
				</div>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.Terms.Section7.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section7.Body' | translate}}
					</p>
				</div>
			</div>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="heading2" style="color:#31708f">
						{{'Legal.Terms.Section8.Title' | translate}}
					</h3>
				</div>
				<div class="panel-body">
					<p>
						{{'Legal.Terms.Section8.Body' | translate}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>