h3.m_3{
	width: 175px;
}

form div input.coordinates-input {
	width: 69%;
}

div.signupcol {
	height: 270px;
}

button#coord-btn {
	width: 22%;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.tab-content {
	padding: 20px;
    border: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-top: none;
}

p.editable-p {
    display: inline-block;
}