form div input.coordinates-input {
	width: 69%;
}

div.signupcol {
	height: 270px;
}

button#coord-btn {
	width: 22%;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.tab-content {
	padding: 20px;
    border: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-top: none;
}

p.editable-p {
    display: inline-block;
}

/* Remove button in shopping cart */

.glyphicon-remove-sign {
	color: #ED5565;
	cursor: pointer;
}

.remove-provide {
	font-size: 2em;
}

.glyphicon-remove-sign:hover {
	color: #DA4453;
}

/* Return/Continue buttons in shopping cart */

.row > .col-lg-6 > button{
	width: 100%;
	margin: 0 auto;
}

.row > .col-lg-6 > a > button{
	width: 100%;
	margin: 0 auto;
}

.v-middle {
	width: 5%;
	height: 5%;
}

.mens-toolbar>.col-sm-4>button {
	margin: 2% 5% 2% 5%; 
	text-align: center;
}

.error-page-label {
	text-align: center;
	color: #777;
	font-size: 2em;
	text-transform: uppercase;
}

.error-page-label-min {
	text-align: center;
	color: #777;
	font-size: 1.3em;
	text-transform: uppercase;
}

.error-page-label-lowercase {
	text-align: center;
	color: #777;
	font-size: 1.3em;
}

.error-page-title{
	text-align: center;
	font-size: 15em;
	text-transform: uppercase;
}

.error-page-title span {
	font-size: 0.7em;
}

.error-403 {
	color: #ca654d;
}

.error-500 {
	color: #4d74ca;
}

.error-503 {
	color: #4db3ca;
}