<script src="views/businessintelligence/TwitterAnalysisController.js"></script>

<div class="wrap">
	<div class="main">
		<ul class="breadcrumb breadcrumb__t">
			<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / {{'TwitterAnalysis.Title' | translate}}
			</li>
		</ul>
		<h1>{{ 'TwitterAnalysis.Chart' | translate }}
		<div class="viz-portfolio-delinquent-status"></div>
	</div>
</div>
<script type="text/javascript">
	$.get("/api/tw/getAnalysis", function(data) {

		var margin = {
			top: 20,
			right: 20,
			bottom: 40,
			left: 60
		};

		width = 800 - margin.left - margin.right;
		height = 600 - margin.top - margin.bottom;

		var x = d3.scale.ordinal().rangeRoundBands([0, width], .3);

		var y = d3.scale.linear().rangeRound([height, 0]);

		var color = d3.scale.category20();

		var xAxis = d3.svg.axis().scale(x).orient("bottom");

		var yAxis = d3.svg.axis().scale(y).orient("left").tickFormat(d3.format(".0%"));

		var svg = d3.select(".viz-portfolio-delinquent-status").append("svg").attr("width", width + margin.left + margin.right).attr("height", height + margin.top + margin.bottom).append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		color.domain(d3.keys(data[0]).filter(function (key) {
			return key !== "hour";
		}));


		data.forEach(function (d) {
			var y0 = 0;

			d.rates = color.domain().map(function (name) {
				return {
					name: name,
					y0: y0,
					y1: y0 += +d[name],
					amount: d[name]
				};
			});
			d.rates.forEach(function (d) {
				d.y0 /= y0;
				d.y1 /= y0;
			});
		});

		data.sort(function (a, b) {
			a_hour = parseInt(a.hour.split('-')[0])
			b_hour = parseInt(b.hour.split('-')[0])

			return a_hour - b_hour;
		});

		x.domain(data.map(function (d) {
			return d.hour;
		}));

		svg.append("g").attr("class", "x axis").attr("transform", "translate(0," + height + ")").call(xAxis);

		svg.append("g").attr("class", "y axis").call(yAxis);

		var hour = svg.selectAll(".hour").data(data).enter().append("g").attr("class", "hour").attr("transform", function (d) {
			return "translate(" + x(d.hour) + ",0)";
		});

		hour.selectAll("rect").data(function (d) {
			return d.rates;
		}).enter().append("rect").attr("width", x.rangeBand()).attr("y", function (d) {
			return y(d.y1);
		}).attr("height", function (d) {
			return y(d.y0) - y(d.y1);
		}).style("fill", function (d) {
			res_color = ''
			switch(d.name){
				case 'positive':
				res_color = '#4DC947';
				break;
				case 'negative':
				res_color = '#D62020';
				break;
				case 'neutral':
				res_color = '#cccccc'
			}

			return res_color;
		});

		var legend = svg.selectAll(".legend").data(color.domain().slice().reverse()).enter().append("g").attr("class", "legend").attr("transform", function (d, i) {
			return "translate(" + i * -70 + ",570)";
		});


		legend.append("rect").attr("x", width + -53).attr("width", 10).attr("height", 10).style("fill", function(d){
			res_color = ''
			switch(d){
				case 'positive':
				res_color = '#4DC947';
				break;
				case 'negative':
				res_color = '#D62020';
				break;
				case 'neutral':
				res_color = '#cccccc'
				break;
			}

			return res_color;
		});

		legend.append("text").attr("x", width - 40).attr("y", 5).attr("width", 40).attr("dy", ".35em").style("text-anchor", "start").text(function (d) {
			return d;
		});
	});
</script>