<script src="views/social_media_rules/SocialMediaRulesController.js"></script>

<div class="wrap">
	<ul class="breadcrumb breadcrumb__t">
		<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / {{'SocialMediaRules.Title' | translate}}</li>
	</ul>

	<h2 class="head">{{'SocialMediaRules.Title' | translate}} <a href="monitoringrules/create" class="pull-right"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button></a></h2>
	<div ng-if="!socialmediarules.length">
		<h4 class="title">{{'SocialMediaRules.Empty.Title' | translate}}</h4>
		<p>{{'SocialMediaRules.Empty.Description' | translate}}</p>
	</div>
	<div ng-if="socialmediarules.length" style="margin-bottom: 3%">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>
					{{'SocialMediaRules.Filled.Description1' | translate}}<span id="rules-length">{{socialmediarules.length}}</span>{{'SocialMediaRules.Filled.Description2' | translate}}
				</p>
				<table ng-table="tableParams" class="table editable-table" show-filter="true">
					<colgroup>
						<col width="20%" />
						<col width="15%" />
						<col width="10%" />
						<col width="60%" />
						<col width="10%" />
					</colgroup>
					<tr class="ng-table-group" ng-repeat-start="group in tableParams.data">
						<td colspan="3">
							<a href="" ng-click="group.$hideRows = !group.$hideRows">
								<span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
								<strong>{{'SocialMediaRules.'+group.value | translate}}</strong>
							</a>
						</td>
					</tr>

					<tr id="{{socialmediarule._id}}" ng-hide="group.$hideRows" ng-repeat="socialmediarule in group.data" ng-repeat-end>
						<td sortable="'_type'" data-title="'SocialMediaRules.Type' | translate" groupable="'_type'" ng-if="false">
							{{'SocialMediaRules.'+socialmediarule._type | translate}}
						</td>
						<td data-title="'SocialMediaRules.Notifications' | translate">
							<a href="">
								<button type="button" class="btn btn-info btn-sm">
									<span class="glyphicon glyphicon-info-sign"></span>
								</button>
							</a>
						</td>
						<td data-title="'SocialMediaRules.IncreaseRate' | translate" filter="{ increaseRate: 'text'}" sortable="'increaseRate'">
							<span class="socialmediarule-increaseRate">
								{{socialmediarule.increaseRate}}
							</span>
						</td>
						<td data-title="'Management.Rating.ProductId' | translate" filter="{ product_id: 'number'}" sortable="'product_id'">
								{{socialmediarule.product_id}}
						</td>
						<td data-title="'SocialMediaRules.Product' | translate" filter="{ product_name: 'text'}" sortable="'product_name'">
							<a href="/product/{{socialmediarule._id}}" ng-if="socialmediarule._type=='ProductRule'">
								<img width="16" height="16" src="img/{{socialmediarule.product_image}}">
								{{socialmediarule.product_name}}
							</a>
						</td>
						<td data-title="'SocialMediaRules.Remove' | translate">
							<button id="btn-delete-rule" type="button" class="btn btn-danger btn-sm" ng-click="remove(socialmediarule)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


</div>