<script src="views/public/products/ProductListController.js"></script>

<div class="mens" ng-controller="ProductListCtrl">    
  	<div class="main">
     	<div class="wrap">
     		<ul class="breadcrumb breadcrumb__t">
				<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / {{ 'Products.Title' | translate }}</li>
			</ul>

			<div class="cont span_2_of_3">
			  	<h2 class="head">{{ 'Products.Products' | translate }}</h2>
			  	<div class="mens-toolbar">
			  		<div class="col-sm-12" ng-show="!applyFilters().length">
			  			<h2 class="head">{{'Products.Empty' | translate}}</h4>
			  		</div>
	              	<div class="sort col-sm-4">
	               		<div class="sort-by" ng-show="applyFilters().length">
			            	<label>{{ 'Products.SortBy' | translate }}</label>
			            	<select ng-model="sortProductsBy">
			            		<option value="name">{{ 'Products.Name' | translate }}</option>
			                    <option value="price">{{ 'Products.Price' | translate }}</option>
			                    <option value="rating">{{ 'Products.Rating' | translate }}</option>
			            	</select>
			            	<a ng-click="invertOrder()"><img src="img/template_bootstrap/arrow2.gif" alt="" class="v-middle"></a>
						</div>
					</div>
					<div class="col-sm-4" ng-show="applyFilters().length">
	   					<button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
					        {{'Products.Previous' | translate}}
					    </button>
					    {{ 'Products.Page' | translate }} {{currentPage+1}}/{{numberOfPages()}}
					    <button class="btn" ng-disabled="currentPage >= applyFilters().length/pageSize - 1" ng-click="currentPage=currentPage+1">
					        {{'Products.Next' | translate}}
					    </button>
					</div>
					
	        		<div class="sort col-sm-4" ng-show="applyFilters().length">
	        			<div class="sort-by">
		        			<div class="limiter visible-desktop">
		            			<label>{{ 'Products.Show' | translate }}</label>
		            			<select ng-model="pageSize">
		                            <option value="10">10</option>
		                            <option value="15">15</option>
		                            <option value="30">30</option>
		                        </select>
		                        <span>{{ 'Products.PerPage' | translate }}</span>
		             		</div>
		             	</div>
	    			</div>
				</div>
				<div class="top-box">
					<div ng-repeat="product in applyFilters() | orderBy:normalOrInverse(sortProductsBy) | startFrom:currentPage*pageSize | limitTo:pageSize">
					 	<div class="col_1_of_3 span_1_of_3"> 
					   		<a class="product" href="product/{{product._id}}">
								<div class="inner_content clearfix">
									<div class="product_image">
										<img ng-src="{{product.image}}" alt=""/>
									</div>
		                    		<div class="product-block">
							   			<div class="cart-left">
											<p class="title">
												{{product.name}}
											</p>
											<div class="price1">
									  			<span class="actual">{{product.minPrice}} - {{product.maxPrice}} €</span>
											</div>
										</div>
										<div class="clear"></div>
							 		</div>				
		                   		</div>
		                 	</a>
						</div>
					</div>
					<div class="clear"></div>
				</div>	
			   	<h2 class="head">{{ 'Home.FeaturedProducts' | translate }}</h2>	
			    <div class="section group">
				  	<div class="col_1_of_3 span_1_of_3">
				  	 	<a href="product/{{product._id}}">
					 		<div class="inner_content clearfix">
								<div class="product_image">
									<img src="img/template_bootstrap/pic5.jpg" alt=""/>
								</div>
	                     		<div class="sale-box">
	                     			<span class="on_sale title_shop">{{ 'Home.New' | translate }}</span>
	                     		</div>	
	                    		<div class="product-block">
						   			<div class="cart-left">
										<p class="title">Lorem Ipsum simply</p>
										<div class="price1">
								  			<span class="actual">$12.00</span>
										</div>
									</div>
									<div class="cart-right"> </div>
									<div class="clear"></div>
						 		</div>				
	                   		</div>
	                   	</a>
					</div>
					<div class="clear"></div>
				</div>			 							 			    
			</div>
			<div class="rsidebar span_1_of_left">
				<section class="sky-form" style="margin-top:10%">
   					<button class="btn" ng-disabled="ratingFilterMode==0 && priceFilterMode==0" ng-click="ratingFilterMode = 0; priceFilterMode = 0">
				        {{'Products.ClearFilters' | translate}} <span class="glyphicon glyphicon-erase"></span>
				    </button>
				</section>
	            <section  class="sky-form">
					<h4>{{'Products.Price' | translate}}</h4>
					<div id="price-pane" class="row row1 scroll-pane">
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 1">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 1, 'glyphicon-check': priceFilterMode == 1}"></span> 0 - 1 €
						</label>
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 2">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 2, 'glyphicon-check': priceFilterMode == 2}"></span> 1 - 5 €
						</label>
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 3">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 3, 'glyphicon-check': priceFilterMode == 3}"></span> 5 - 10 €
						</label>
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 4">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 4, 'glyphicon-check': priceFilterMode == 4}"></span> 10 - 20 €
						</label>
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 5">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 5, 'glyphicon-check': priceFilterMode == 5}"></span> 20 - 50 €
						</label>
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 6">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 6, 'glyphicon-check': priceFilterMode == 6}"></span> 50 - 100 €
						</label>
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 7">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 7, 'glyphicon-check': priceFilterMode == 7}"></span> 100 - 200 €
						</label>
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 8">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 8, 'glyphicon-check': priceFilterMode == 8}"></span> 200 - 500 €
						</label>
						<label class="checkbox"><input type="checkbox" ng-click="priceFilterMode = 9">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': priceFilterMode != 9, 'glyphicon-check': priceFilterMode == 9}"></span> +500 €
						</label>
						<script>
							$('#price-pane input').click(function () {
						    	checkedState = $(this).is(':checked');
						        $('#price-pane input').attr('checked', false);
						    	$(this).prop('checked', checkedState);
							});
						</script>
					</div>
		        </section>
		       	<section class="sky-form">
					<h4>{{'Products.Rating' | translate}}</h4>
					<div id="rating-pane" class="row row1 scroll-pane">
						<label class="checkbox">
							<input type="checkbox" name="checkbox" ng-click="ratingFilterMode = 1">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': ratingFilterMode != 1, 'glyphicon-check': ratingFilterMode == 1}"></span>
							<span class="glyphicon glyphicon-star"></span>
						</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox" ng-click="ratingFilterMode = 2">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': ratingFilterMode != 2, 'glyphicon-check': ratingFilterMode == 2}"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox" ng-click="ratingFilterMode = 3">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': ratingFilterMode != 3, 'glyphicon-check': ratingFilterMode == 3}"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox" ng-click="ratingFilterMode = 4">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': ratingFilterMode != 4, 'glyphicon-check': ratingFilterMode == 4}"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox" ng-click="ratingFilterMode = 5">
							<span class="glyphicon" ng-class="{'glyphicon-unchecked': ratingFilterMode != 5, 'glyphicon-check': ratingFilterMode == 5}"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</label>	
						<script>
							$('#rating-pane input').click(function () {
						    	checkedState = $(this).is(':checked');
						        $('#rating-pane input').attr('checked', false);
						    	$(this).prop('checked', checkedState);
							});
						</script>
					</div>
		       	</section>
		    </div>
			<div class="clear"></div>
		</div>
	</div>
</div>