
<script src="views/products/ProductDetailsController.js"></script>

<link rel="stylesheet" href="css/rating-star.css">

<div class="mens">    
	<div class="main">
		<div class="wrap">
			<ul class="breadcrumb breadcrumb__t">
				<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / <a href="products">{{ 'Products.Title' | translate }}</a> / {{product.name}}</li>
			</ul>
			<div class="cont">
				<button id="btn-edit" class="btn btn-default" ng-click="toggleEdition()" ng-hide="isSomethingEditable()" restrict access="admin">
					{{ 'Product.Edit' | translate }}
				</button>
				<div class="row">
					<div class="grid col-md-4">
						<script src="js/lib/imagezoom.js"></script>
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb="img/template_bootstrap/pic5.jpg">
									<div class="thumb-image">
										<img src="img/{{product.image}}" data-imagezoom="true" class="img-responsive">
									</div>
									<form action="/api/product/updateProductImage" method="post" enctype="multipart/form-data" id="upload-img-form" class="dropzone" restrict access="admin">
										<div class="fallback">
											<input type="file" />
										</div>
									</form>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="desc1 col-md-8">
						<!-- Rating Stars Box -->
						<div ng-if="!userHasPurchased" class="rating">
							<span ng-repeat="n in [1, 2, 3, 4, 5] track by $index" class="glyphicon" ng-class="{'glyphicon-star': value >= $index + 1, 'glyphicon-star-empty': value < $index + 1}"></span>
						</div>

						<div ng-if="userHasPurchased">
							<uib-rating ng-model="value" class="rating" max="max" ng-click="rateProduct()"></uib-rating>
						</div>
						<!--<div class="rating" data-stars="{{product.rating}}"></div>-->
						<h3 class="m_3" editable-text="product.name" e-maxlength="100" e-form="textNameForm" e-placeholder="{{ 'Product.Create.Name' | translate }}" onbeforesave="updateProduct('name', $data)">{{product.name}}</h3>
						<p class="price">{{product.minPrice}} - {{product.maxPrice}} €</p>
						<p class="m_4">{{product.code}}</p>
						<p class="m_text2" editable-textarea="product.description" e-form="textDescForm" e-rows="10" e-cols="70" e-maxlength="1000" e-placeholder="{{ 'Product.Create.Description' | translate }}" onbeforesave="updateProduct('description', $data)">{{product.description}}</p>

						<div ng-if="out_suppliers.length > 0">
							<div ng-repeat="provide in out_suppliers">
								<div ng-if="!provide.customerHasRule" id="create-rule-{{provide._id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createRule" z-index="10000000">
									<div class="modal-dialog modal-sm">
										<div class="modal-content">
											<form method="post" name="createRuleForm" id="submit-form" ng-submit="submitCreateRule(provide._id, createRuleForm)" class="product_form create-rule_form">
												<div class="input-group">
													<label for="startDate">{{ 'Product.CreateRule.StartDate' | translate }}*</label>
													<input id="startDate" name="startDate" type="date" class="form-control" ng-model="rule.startDate" min="{{date | date:'yyyy-MM-dd'}}" required>
												</div>
												<div class="alert alert-danger" ng-show="createRuleForm{{provide._id}}.startDate.$dirty && (createRuleForm{{provide._id}}.startDate.$error.required || createRuleForm{{provide._id}}.startDate.$error.min)">
													{{ 'Product.CreateRule.StartDateError' | translate }}
												</div>
												<div class="input-group">
													<label for="periodicity">{{ 'Product.CreateRule.Periodicity' | translate }}*</label>
													<input id="periodicity" name="periodicity" type="number" class="form-control" ng-model="rule.periodicity" min="1" required>
												</div>
												<div class="alert alert-danger" ng-show="createRuleForm{{provide._id}}.periodicity.$dirty && (createRuleForm{{provide._id}}.periodicity.$error.required || createRuleForm{{provide._id}}.periodicity.$error.min)">
													{{ 'Product.CreateRule.PeriodicityError' | translate }}
												</div>
												<div class="input-group">
													<label for="quantity">{{ 'Product.CreateRule.Quantity' | translate }}*</label>
													<input id="quantity" name="quantity" type="number" class="form-control" ng-model="rule.quantity" min="1" required>
												</div>
												<div class="alert alert-danger" ng-show="createRuleForm{{provide._id}}.quantity.$dirty && (createRuleForm{{provide._id}}.quantity.$error.required || createRuleForm{{provide._id}}.quantity.$error.min)">
													{{ 'Product.CreateRule.QuantityError' | translate }}
												</div>

												<button id="createrule-submit" type="submit" name="submit" class="grey">{{ 'Global.Submit' | translate }}</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

						<p class="m_3" ng-show="out_suppliers.length===0">{{'Products.Supplier.Empty' | translate}}</p>
						<table class="table table-responsive table-bordered table-hover table-provides" ng-show="out_suppliers.length>0">
							<thead>
								<th>{{'Products.Supplier.Name' | translate}}</th>
								<th>{{'Products.Supplier.Reputation' | translate}}</th>
								<th>{{'Products.Price' | translate}}</th>
							</thead>
							<tbody>
								<tr ng-repeat="provide in out_suppliers">
									<td class="name">
										{{provide.supplierName}}
									</td>
									<td title="{{provide.reputation}}" class="reputation">
										<span ng-if="!provide.userHasPurchased" ng-repeat="n in [1, 2, 3, 4, 5] track by $index" class="glyphicon" ng-class="{'glyphicon-star': provide.reputation >= $index + 1, 'glyphicon-star-empty': provide.reputation < $index + 1}"></span>
										<div ng-if="provide.userHasPurchased" class="provide-rating">
											<uib-rating ng-model="provide.reputation" class="rating_supplier" max="max" ng-click="rateProvide(provide._id, provide.reputation)"></uib-rating>
										</div>
									</td>
									<td class="row-price">
										{{provide.price | number:2}} €
									</td>
									<td ng-if="role=='customer'" class="add-to-cart">
										<div class="btn_form" >
											<form class="btn_form">
												<input id="cart-btn" type="submit" ng-click="addToCart(provide._id)" value="{{ 'Products.AddToCart' | translate }}" title="" />
											</form>
										</div>
									</td>
									<td ng-if="role=='customer'" class="create-rule">
										<p ng-show="provide.customerHasRule">{{ 'Product.AlreadyHasRule' | translate }} <a href="/mypurchasingrules">{{ 'Header.Account.MyPurchasingRules' | translate }}</a></p>
										<button ng-if="!provide.customerHasRule" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-rule-{{provide._id}}">{{ 'Product.CreateRule.Title' | translate }}</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="supply-form account_form" restrict access="supplier">
					<h4 class="title">{{ 'Product.Provide' | translate }}</h4>
					<form method="post" name="provideProductForm" id="submit-form" ng-submit="submitProvideProduct()" class="product_form" ng-show="!supplierProvides" novalidate>
						<div class="input-group">
							<input name="price" type="number" step="any" min="0" class="form-control" placeholder="{{ 'Product.ProvidePrice' | translate }}*" ng-model="new_provide.price" ng-class="{'has-error': provideProductForm.price.$dirty && (provideProductForm.price.$error.required || provideProductForm.price.$error.min || provideProductForm.price.$invalid)}" ng-blur="setPriceValid()" required>
							<div class="input-group-addon">€</div>
						</div>

						<button id="provideproduct-submit" type="submit" name="submit" class="grey" ng-disabled="provideProductForm.$invalid">{{ 'Global.Submit' | translate }}</button>
					</form>

					<div id="delete-provide" ng-show="supplierProvides" class="delete-provide" ng-click="deleteProvide()">
						<i class="fa fa-trash"> {{ 'Product.DeleteProvide' | translate }}</i>
					</div>

					<div id="reputations" style="margin-top:3%">
						<h4 class="title">{{ 'Reputations.Title' | translate }}</h4>
						<div ng-if="!reputationslength" class="alert alert-info" role="alert">
							<p>
								{{'Reputations.Empty' | translate}}
							</p>
						</div>
						<div id="chart" class="row" ng-if="reputationslength">
							<svg></svg>
						</div>
					</div>
					

				</div>


				<div restrict access="customer">
					<h3 class="m_3">{{ 'Products.OtherRecommendations' | translate}}</h3>
					<!-- Recommendations carrousel -->
					<ul id="recommendations">
						<li ng-repeat="product in recommendedProducts"><img src="img/{{product.image}}" /><a href="product/{{product._id}}">{{product.name}}</a></li>
					</ul>
					<script type="text/javascript" src="js/lib/jquery.flexisel.js"></script>
					<script type="text/javascript">
						$("#recommendations").flexisel({
							visibleItems: 5,
							animationSpeed: 500,
							autoPlay: false,
							autoPlaySpeed: 3000,            
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems: 2
								},
								tablet: { 
									changePoint:768,
									visibleItems: 3
								}
							}
						});
					</script>
					
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>