<script src="views/barcode/BarcodeController.js"></script>

<div class="wrap">
	<div class="main">
		<ul class="breadcrumb breadcrumb__t">
			<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / <a class="home" href="/products">{{'Products.Title' | translate}}</a> / {{'Title.Barcode' | translate}}
			</li>
		</ul>

		<div>
		<h2 class="head">{{'Title.Barcode' | translate}}</h2>
		<div class="row">
			<div class="col-md-12">
				<form action="/api/barcode" method="post" enctype="multipart/form-data" id="upload-img-form" class="dropzone">
					<div class="fallback">
						<input type="file" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>