<script src="views/public/MainController.js"></script>

<div class="header-top" ng-controller="MainCtrl">
    <div class="wrap">
        <div class="header-top-left">
            <div class="box">
                <div locale-selector></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="cssmenu">
            <ul>
                <li class="active" restrict access="isLogged">
                    <a href="/myprofile">{{ 'Header.Account.Title' | translate }}</a>
                </li>

                <li restrict access="customer">
                    <a href="/shoppingcart">{{ 'Header.Checkout' | translate }}</a>
                </li>

                <li restrict access="anonymous">
                    <a href="/signin">{{ 'Header.Signin' | translate }}</a>
                </li>

                <li restrict access="anonymous">
                    <a href="/signup">{{ 'Header.Signup' | translate }}</a>
                </li>

                <li restrict access="isLogged">
                    <a id="logout" ng-click="signout()">{{ 'Header.Signout' | translate }}</a>
                </li>                
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="header-bottom" ng-controller="MainCtrl">
    <div class="wrap">
        <div class="header-bottom-left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><img src="img/template_bootstrap/logo.png" alt=""/></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: $route.current.activetab == 'home'}"><a href="/">{{ 'Home.Title' | translate }}</a></li>
                        <li ng-class="{active: $route.current.activetab == 'products'}"><a href="/products">{{ 'Header.ProductList' | translate }}</a></li>
                        <li ng-class="{active: $route.current.activetab == 'management'}" restrict access="admin" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                {{'Header.Management' | translate}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/dashboard">{{ 'Header.Dashboard' | translate }}</a></li>
                                <li><a href="/customers">{{ 'Header.Customers' | translate }}</a></li>
                                <li><a href="/purchases">{{ 'Header.Purchases' | translate }}</a></li>
                                <li><a href="/products/create">{{ 'Header.CreateProduct' | translate }}</a></li>
                            </ul>
                        </li> 
                        <li ng-class="{active: $route.current.activetab == 'account'}" restrict access="isLogged" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                {{'Header.Account.Title' | translate}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/myprofile">{{ 'Header.Account.MyProfile' | translate }}</a></li>
                                <li restrict access="customer"><a href="/mypurchases">{{ 'Header.Account.MyPurchases' | translate }}</a></li>
                                <li restrict access="supplier"><a href="/myproducts">{{ 'Header.Account.MyProducts' | translate }}</a></li>
                                <li restrict access="customer"><a href="/shoppingcart">{{ 'Header.Account.ShoppingCart' | translate }}</a></li> 
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header-bottom-right">
            <div class="search">
                <input type="text" name="s" class="textbox" placeholder="{{ 'Header.Search' | translate }}" >
                <input type="submit" value="Subscribe" id="submit" name="submit">
                <div id="response"></div>
            </div>
            <div class="tag-list" restrict access="customer">
                <ul class="icon1 sub-icon1 profile_img">
                    <li>
                        <a class="active-icon c2" href="/shoppingcart"></a>
                        <ul class="sub-icon1 list" ng-if="productsInCart()==0">
                            <li>
                                <h3>{{ 'Header.NoProducts' | translate }}</h3>
                                <a></a>
                            </li>
                            <li>
                                <p>{{'ShoppingCart.Empty.Description1' | translate}}  
                                    <a href="/products">{{'Header.GoShopping' | translate}}</a>
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="last">
                    <li>
                        <a href="/shoppingcart">{{ 'Header.Cart' | translate}} (<span id="products-cart">{{productsInCart()}}</span>)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>