<script src="views/purchases/PurchaseDetailsController.js"></script>

<div class="wrap">
	<ul class="breadcrumb breadcrumb__t">
		<li><a class="home" href="/">{{ 'Home.Title' | translate }}</a> / 
			<a href="/mypurchases" restrict access="customer">{{ 'Purchases.MyPurchases.Title' | translate }}</a>
			<a href="/purchases" restrict access="admin">{{'Purchases.Title' | translate}}</a> / {{'Purchases.Purchase' | translate}} {{purchase._id}}
		</li>
	</ul>

	<div class="row">
		<table class="table table-bordered table-hover">
		  	<thead>
			  	<tr>
					<th>{{'Checkout.Product.Image' | translate}}</th>
					<th>{{'Checkout.Product.Name' | translate}}</th>
					<th>{{'Checkout.Product.Supplier' | translate}}</th>
					<th>{{'Checkout.Product.Quantity' | translate}}</th>
					<th>{{'Checkout.Product.Price' | translate}} (€)</th>
					<th>{{'Checkout.Product.Total' | translate}} (€)</th>
			  	</tr>
			</thead>
			<tbody>
			  	<tr ng-repeat="purchaseline in purchase_list">
					<td style="width:10%"><img class="img-responsive img-thumbnail" src="img/{{purchaseline.image}}"/></td>
					<td>{{purchaseline.product.name}}</td>
					<td>{{purchaseline.supplierName}}</td>
					<td style="width:10%">{{purchaseline.quantity}}</td>
					<td style="width:10%">{{purchaseline.price | number:2}}</td>
					<td style="width:10%">{{purchaseline.quantity * purchaseline.price | number:2}}</td>
			  	</tr>		    
			</tbody>
			<tfoot>
		    	<tr>
			      <th id="total" colspan="5">{{'Checkout.Product.Total' | translate}} :</th>
			      <td>{{totalPrice | number:2}}</td>
		    	</tr>
		   	</tfoot>
		</table>
	</div>

	<div class="row">
		<div class="col-md-4">
			<table class="table table-bordered table-hover">
				<tr>
					<th style="width:30%">{{'Checkout.Purchase.PaymentDate' | translate}}</th>
					<td>{{purchase.paymentDate | date:'dd/MM/yyyy HH:mm:ss Z' }}</td>
			  	</tr>
				<tr>
					<th>{{'Checkout.Purchase.DeliveryDate' | translate}}</th>
					<td>{{purchase.deliveryDate | date:'dd/MM/yyyy' }}</td>
			  	</tr>
			</table>
		</div>
	</div>

</div>